<div class="container">
  <h2>API DATA</h2>

    <table class="table table-responsive">
      <tr>
        <th>S.No</th>
        <th>title</th>
        <th>url</th>
        <th>created_at</th>
        <th>author </th>
      </tr>
            <div *ngIf="tableRenderData.hits && tableRenderData.hits.length===0"> Loading.....</div>

            <tr *ngFor="let data of tableRenderData.hits;let i=index" (click)="openModal(modalId,data)">
              <td>{{i+1}}</td>
              <td>{{data.title}}</td>
              <td>{{data.url}}</td>
                <td>{{data.created_at_i}}</td>
                <td>{{data.author}}</td>

            </tr>
    </table>


    <ng-template #modalId let-modal>
      <div class="modal-body">
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss('Cross click')"> Close 
        </button>
        <div class="modal-header">
          <h4>JSON Row data</h4>
        </div>

        <div class="content">
          TITLE : {{data.title}} <br/>
          URL : {{data.title}} <br/>
          AUTHOR : {{data.author}} <br/>
          CREATE AT : {{data.created_at}}<br/>
          OBJECT ID : {{data.objectID}} <br/>
          COMMENTS : {{data.num_comments}}<br/>
          TAGS : <p *ngFor="let item of data._tags">
            {{item}}
          </p>

        </div>

      </div>
    </ng-template>


</div>
